@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --cor-principal: rgba(94, 180, 73, 1);
    --cor-secundaria:  rgba(233, 233, 233, 1);
    --cor-terciaria: rgba(62, 62, 62, 1);
    --cor-quaternária: rgba(175, 175, 175, 1);
    --fonte-primaria: Inter;
    --fonte-secundaria: Futura;
}

body {
  border: none;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0px;
  border: none;
  padding: 0px;

  
  overflow-x: hidden; /* Esconde a rolagem horizontal */
  overflow-y: auto; 
}

main{
  width: 100vw;
  min-height: 100vh;
  align-self: center;
  flex-direction: row;
  overflow: hidden;
}


/* Cores */

body{
  background-color: rgba(217, 217, 217, 1);
}

header{    
  background-color: var(--cor-principal);
}

.sidebar_style{
  background-color: var(--cor-terciaria);
}

.nome_pagina {
  color: var(--cor-secundaria);
  font-family: var(--fonte-primaria);
}

.barra{
  background-color: var(--cor-secundaria);
}

.logotipo svg{
  color: var(--cor-secundaria);
}

.sidebar{
  background-color: var(--cor-terciaria);
}

.itens_sidebar:hover{
  background-color: var(--cor-principal);
}

.itens_sidebar a{
  color: white;
}

.btn-secondary{
  background-color: var(--cor-principal);
  color: var(--cor-secundaria);
}






/* Header */

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 10vh;
    position: fixed;
}



.barra{
  width: 1px;
  height: 8vh;
}



.logotipo{
  width: 10vh;
  height: 10vh;
}

.logotipo a{    
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logotipo svg{
  width: 50%;
  height: 50%;
}



.nome_pagina {
  width: 100%;
  height: 100%;
  display: flex;
  padding-top: 0.9%;
  padding-left: 2%;
}

.titulo{
  font-size: 180%;  
  font-family: var(--fonte-primaria);
  font-weight: lighter;
}



.usuario{  
  width: 10vh;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center
}

.circle{
  width: 60%;
  aspect-ratio: 1 / 1;
  background-color: white;
  border-radius: 100%;
}

/* Fim Header */




/* Sidebar */



.sidebar{
  height: 100vh;
  display: flex;
  justify-content: center;
  padding-top: 5vh;
  width: 4vw;
  position: fixed;
  padding-top: 15vh;
  
  font-size: 0px;
  font-family: var(--fonte-primaria);
}

.sidebar:hover{
  width: 10vw;
  font-size: 13px;
}


.lista_sidebar{
    height: 100%;
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 5vh;
}

.itens_sidebar{
    width: 90%;
    height: 5%;
    cursor: pointer;  
    border-radius: 1vh;
    display: flex;
    align-items: center;
    padding-left: 15px;
}


.itens_sidebar a{
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 10px;
}

.itens_sidebar svg{
  width:  25px;
  height: 25px;
}



/* Conteúdo */

.conteudo{
  width: 100vw;
  min-height: 90vh;
  margin-top: 10vh;
  margin-left: 15vw;
  margin-right: 15vw;
  overflow: hidden;
}









/* Cadastro de Alunos */

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 8px;
    text-align: left;
}

.cadastro_aluno input{
  width: 50%;
  max-width: 40rem;
  border: none;
  border-radius: 5px;
  box-shadow: 1px 1px 6px var(--cor-terciaria);
}

.cadastro_aluno label {
  width: 100%;
  margin: 2px;
  margin-top: 10px;
}

.genero{
  width: 50%;
  max-width: 40rem;
  height: 5vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  
}

.genero input{
  width: 5%;
  height: 40%;
  box-shadow: none;
  margin-right: 75px;
}

.genero label{
  width: 10%;
  margin: 0px;
}

.cadastro_aluno button {
  background-color: var(--cor-principal);
  width: 10vw;
  height: 5vh;
  border-radius: 5px;
  border: none;
  margin: 5px;
  box-shadow: 1px 1px 6px var(--cor-terciaria);
}








/* Cadastro de Atendimento */






.cadastroAtendimento {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 5rem 20rem;
  max-width: 60rem;
  gap: 0.4rem;
}

.cadastroAtendimento input {
  width: 100%;
  max-width: 40rem;
  padding: 8px;
  border: none;
  border-radius: 5px;
  box-shadow: 1px 1px 6px var(--cor-terciaria);
}

input[type=datetime-local] {
  width: 10rem;
}

.cadastroAtendimento label {
  width: 100%;
  margin: 5px;
  margin-top: 20px;
}

#done, #descricao {
  border-radius: 5px;
  box-shadow: 1px 1px 6px var(--cor-terciaria);
}

.cadastroAtendimento button {
  background-color: var(--cor-principal);
  width: 4rem;
  padding: 15px;
  border: none;
  border-radius: 55px;
  margin-left: 65rem;
  box-shadow: 1px 1px 1px var(--cor-terciaria);
}

