{
    "singleQuote": true,
    "arrowParens": "always",
    "semi": false,
    "useTabs": true,
    "tabWidth": 2,
    "trailingComma": "all",
    "bracketSpacing": true,
    "bracketSameLine": true,
    "objectWrap": "preserve",
    "singleAttributePerLine": true,
    "plugins": ["prettier-plugin-tailwindcss"]
}
